# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
out/*

#autosaves
*.h~
*.cpp~
.gitignore~

#mac specific
.DS_Store

#misc
EngineNP++Work.txt
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Debug/*
x64/*
*.mtl
build/*
temp/*
my-engine/*
my-engine/my-engine.xcodeproj/*
